@model KITAPLIK.Models.Entity.Yorum

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <h3 style="color:#074490; font-family:'Book Antiqua'; font-weight:bold"><i>Bir Kitaba Yorum Ekleyin...</i></h3>

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group" style="color:firebrick">
            @Html.LabelFor(model => model.yorum1,"Yorumunuz:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.yorum1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.yorum1, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="color:firebrick">
            @Html.LabelFor(model => model.uyeıd, "Kullanıcı Adınız:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("uyeıd", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.uyeıd, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="color:firebrick">
            @Html.LabelFor(model => model.kıtapıd, "Kitap Adı:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("kıtapıd", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.kıtapıd, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="EKLE" class="btn btn-info" />
            </div>
        </div>
    </div>
}

<div>
    <a href="/Yorum/Index" class="btn btn-success glyphicon glyphicon-arrow-left"> LİSTEYE GERİ DÖN</a>
</div>
