@model KITAPLIK.Models.Entity.Yorum

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h3 style="color:#074490; font-family:'Book Antiqua'; font-weight:bold"><i>Bunu silmek istediğinize emin misiniz?</i></h3>
<div>
    <h4 style="color:#074490; font-family:'Book Antiqua'; font-weight:bold"><i>Yorum</i></h4>
    <hr />
    <dl class="dl-horizontal" style="font-family:'Italic Outline Art'">
        <dt style="color:firebrick">
            @Html.LabelFor(model => model.yorum1,"Yorum:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.yorum1)
        </dd>
        <br />
        <dt style="color:firebrick">
            @Html.LabelFor(model => model.Kıtaplar.kıtapadı,"Kitabın Adı:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kıtaplar.kıtapadı)
        </dd>
        <br />
        <dt style="color:firebrick">
            @Html.LabelFor(model => model.Uyeler.takmaad,"Yorumun Sahibi:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Uyeler.takmaad)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="SİL" class="btn btn-danger glyphicon glyphicon-remove-circle" /> |
            <a href="/Yorum/Index" class="btn btn-success  glyphicon glyphicon-arrow-left" > LİSTEYE GERİ DÖN</a>
        </div>
    }
</div>
