@model IEnumerable<KITAPLIK.Models.Entity.Yorum>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="color:#074490; font-family:'Book Antiqua';font-weight:bold"><i>Bir Yorum Ekleyin...</i></h2>

<p>
    <h4 class="btn btn-default">@Html.ActionLink("Yorum Ekle", "Create")</h4>
</p>
<table class="table">
    <tr>
        <th>
            <label style="color:firebrick; font-family:'Italic Outline Art'; font-size:large">Yorum</label>
        </th>
        <th>
            <label style="color:firebrick; font-family:'Italic Outline Art'; font-size:large">Kitap</label>
        </th>
        <th>
            <label style="color:firebrick; font-family:'Italic Outline Art'; font-size:large">Kullanıcı</label>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.yorum1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kıtaplar.kıtapadı)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Uyeler.takmaad)
            </td>
            <td>
                @if (User.IsInRole("A"))
                {
                    <a href="/Yorum/Delete/@item.Yorumıd" class="btn btn-danger">SİL</a>
                }
                @*@Html.ActionLink("Edit", "Edit", new { id=item.Yorumıd }) |
                    @Html.ActionLink("Details", "Details", new { id=item.Yorumıd }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.Yorumıd })*@
            </td>
        </tr>
    }

</table>
