@model KITAPLIK.Models.Entity.Kıtaplar

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <h3 style="color:#074490; font-family:'Book Antiqua'; font-weight:bold"><i>Bir Kitap Ekleyin...</i></h3>

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group" style="color:firebrick">
            @Html.LabelFor(model => model.kıtapadı, "Kitap Adı:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.kıtapadı, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.kıtapadı, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="color:firebrick">
            @Html.LabelFor(model => model.acıklama, "Açıklama:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.acıklama, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.acıklama, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="color:firebrick">
            @Html.LabelFor(model => model.kıtapresım, "Kitap Resmi:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.kıtapresım, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.kıtapresım, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="color:firebrick">
            @Html.LabelFor(model => model.KıtapDetay.kitapyazar, "Kitabın Yazarı:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.KıtapDetay.kitapyazar, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.KıtapDetay.kitapyazar, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="color:firebrick">
            @Html.LabelFor(model => model.KıtapDetay.kıtapcevırmenı, "Kitabın Çevirmeni:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.KıtapDetay.kıtapcevırmenı, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.KıtapDetay.kıtapcevırmenı, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="color:firebrick">
            @Html.LabelFor(model => model.KıtapDetay.kitapkategori, "Kitabın Kategorisi:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.KıtapDetay.kitapkategori, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.KıtapDetay.kitapkategori, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="color:firebrick">
            @Html.LabelFor(model => model.KıtapDetay.kıtapbasım, "Basım Tarihi:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.KıtapDetay.kıtapbasım, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.KıtapDetay.kıtapbasım, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="color:firebrick">
            @Html.LabelFor(model => model.KıtapDetay.kıtapdılı, "Kitabın Dili:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.KıtapDetay.kıtapdılı, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.KıtapDetay.kıtapdılı, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="color:firebrick">
            @Html.LabelFor(model => model.KıtapDetay.kıtapsayfa, "Sayfa Sayısı:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.KıtapDetay.kıtapsayfa, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.KıtapDetay.kıtapsayfa, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="color:firebrick">
            @Html.LabelFor(model => model.KıtapDetay.kıtapyayınevı, "Yayınevi:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.KıtapDetay.kıtapyayınevı, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.KıtapDetay.kıtapyayınevı, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="color:firebrick">
            @Html.LabelFor(model => model.cokokunanlar, "Çok Okunanlarda Mı?:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.cokokunanlar)
                    @Html.ValidationMessageFor(model => model.cokokunanlar, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group" style="color:firebrick">
            @Html.LabelFor(model => model.edıtorunsectıklerı, "Editörün Seçimi Mi?:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.edıtorunsectıklerı)
                    @Html.ValidationMessageFor(model => model.edıtorunsectıklerı, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        @*<div class="form-group" style="color:firebrick">
            @Html.LabelFor(model => model.Anasayfa, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Anasayfa)
                    @Html.ValidationMessageFor(model => model.Anasayfa, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>*@

        <div class="form-group" style="color:firebrick">
            @Html.LabelFor(model => model.Surukleyıcıyenılerıcın, "Yeniler İçin Sürükleyici Mi?:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Surukleyıcıyenılerıcın)
                    @Html.ValidationMessageFor(model => model.Surukleyıcıyenılerıcın, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="EKLE" class="btn btn-info" />
            </div>
        </div>
    </div>
}

<div>
    <a href="/Kıtaplar/Index" class="btn btn-success glyphicon glyphicon-arrow-left"> LİSTEYE GERİ DÖN</a>
</div>
