@model KITAPLIK.Models.Entity.Kıtaplar

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h3 style="color:#074490; font-family:'Book Antiqua'; font-weight:bold"><i>Bunu silmek istediğinize emin misiniz?</i></h3>
<div>
    <h4 style="color:#074490; font-family:'Book Antiqua'; font-weight:bold"><i>@Html.DisplayFor(model => model.kıtapadı)</i></h4>
    <hr />
    <dl class="dl-horizontal" style="font-family:'Italic Outline Art'">
        <dt style="color:firebrick">
            @Html.LabelFor(model => model.kıtapadı, "Kitap Adı:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kıtapadı)
        </dd>
        <br />
        <dt style="color:firebrick">
            @Html.LabelFor(model => model.acıklama, "Açıklaması:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.acıklama)
        </dd>
        <br />
        <dt style="color:firebrick">
            @Html.LabelFor(model => model.KıtapDetay.kitapyazar, "Yazar Adı:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KıtapDetay.kitapyazar)
        </dd>
        <br />
        <dt style="color:firebrick">
            @Html.LabelFor(model => model.KıtapDetay.kıtapcevırmenı, "Çevirmen Adı:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KıtapDetay.kıtapcevırmenı)
        </dd>
        <br />
        <dt style="color:firebrick">
            @Html.LabelFor(model => model.KıtapDetay.kitapkategori, "Kategori:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KıtapDetay.kitapkategori)
        </dd>



    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="SİL" class="btn btn-danger" /> |
            <a href="/Kıtaplar/Index" class="btn btn-success glyphicon glyphicon-arrow-left"> LİSTEYE GERİ DÖN</a>
        </div>
    }
</div>
