@model KITAPLIK.Models.Entity.yazarlar

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h3 style="color:#074490; font-family:'Book Antiqua'; font-weight:bold"><i>Bunu silmek istediğinize emin misiniz?</i></h3>
<div>
    <h4 style="color:#074490; font-family:'Book Antiqua'; font-weight:bold"><i>@Html.DisplayFor(model => model.YazarAdSoyad)</i></h4>
    <hr />
    <dl class="dl-horizontal" style="font-family:'Italic Outline Art'">
        <dt style="color:firebrick">
            @Html.LabelFor(model => model.YazarAdSoyad, "Yazarın Adı soyadı:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YazarAdSoyad)
        </dd>
        <br />
        <dt style="color:firebrick">
            @Html.LabelFor(model => model.dogum, "Doğum Tarihi:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dogum)
        </dd>
        <br />
        <dt style="color:firebrick">
            @Html.LabelFor(model => model.olum, "Vefat Tarihi:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.olum)
        </dd>
        <br />
        <dt style="color:firebrick">
            @Html.LabelFor(model => model.okul, "Eğitimi:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.okul)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="SİL" class="btn btn-danger" /> |
            <a href="/Yazarlar/Index" class="btn btn-success glyphicon glyphicon-arrow-left"> LİSTEYE GERİ DÖN</a>
        </div>
    }
</div>
